<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Passionate software engineer with a love for abstracting complexity into simple ideas!">
    <link rel="canonical" href="https://xandrudavid.com/">
    
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Alexandru David - Software Engineer">
    <meta property="og:url" content="https://xandrudavid.com/">
    <meta property="og:description" content="Passionate software engineer with a love for abstracting complexity into simple ideas!">
    
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <script>
      if (new URLSearchParams(location.search).has('featureFlag')) {
        document.documentElement.classList.add('feature-enabled');
      }
    </script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>