html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-base);
  padding: 4% 6%;
  font-size: var(--font-size-base);
  font-family: var(--body-font);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (width <= var(--breakpoint-mobile)) {
  body {
    padding: 6% 4%;
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 600;
}

h1 {
  line-height: 1.1;
  font-size: clamp(2.5rem, 8vw + 1rem, 4.5rem);
  font-optical-sizing: auto;
  margin-bottom: 0.2em;
}

h2 {
  line-height: 1.5;
  margin-bottom: 1em;
  color: var(--color-text-accent);
  font-size: clamp(1.25rem, 1vw + 1rem, 1.5rem);
  font-optical-sizing: auto;
  text-transform: lowercase;
}

section {
  max-width: 35em;
  margin-bottom: 5em;
}

section p {
  font-weight: 600;
}

a {
  color: var(--color-text-muted);
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--color-text-base);
}

a:focus {
  outline: 2px solid var(--color-text-base);
  outline-offset: 2px;
}

a:focus:not(:focus-visible) {
  outline: none;
}

a:focus-visible {
  outline: 2px solid var(--color-text-base);
  outline-offset: 2px;
}

.primary {
  color: var(--color-text-base);
}

.feature-flag {
  display: none;
}

html.feature-enabled .feature-flag {
  display: block;
}

mark {
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  margin: 0 -0.4em;
  padding: 0 0.4em;
  border-radius: 0.8em 0.3em;
  background: 
    linear-gradient(104deg, rgba(255, 225, 0, 0) 0.9%, rgba(255, 225, 0, 1.25) 2.4%, rgba(255, 225, 0, 0.5) 5.8%, rgba(255, 225, 0, 0.1) 93%, rgba(255, 225, 0, 0.7) 96%, rgba(255, 225, 0, 0) 98%),
    linear-gradient(183deg, rgba(255, 225, 0, 0) 0%, rgba(255, 225, 0, 0.3) 7.9%, rgba(255, 225, 0, 0) 15%);
  background-position: 0 0.3em;
  background-size: 100% 0.9em;
  background-repeat: no-repeat;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@media (prefers-color-scheme: dark) {
  mark {
    background: 
      linear-gradient(104deg, rgba(255, 250, 50, 0) 0.9%, rgba(255, 250, 50, 0.425) 2.4%, rgba(255, 250, 50, 0.20) 5.8%, rgba(255, 250, 50, 0.10) 93%, rgba(255, 250, 50, 0.35) 96%, rgba(255, 250, 50, 0) 98%),
      linear-gradient(183deg, rgba(255, 250, 50, 0) 0%, rgba(255, 250, 50, 0.15) 7.9%, rgba(255, 250, 50, 0) 15%);
  }
}