/* Intro Section */

.intro h1 {
  text-transform: lowercase;
}

.intro .name {
  color: var(--color-text-primary);
}

/* Contact Section */

.contact li {
  margin-top: 0.5em;
}

.contact a::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  background-color: var(--color-text-primary);
  mask-size: 1em;
  margin-right: 0.7em;
}

.i-mail::before {
  mask-image: url("mail.svg");
}

.i-linkedin::before {
  mask-image: url("linkedin.svg");
}

/* Employment Section */

.employment li {
  margin-bottom: 1em;
}

.employment .role {
  font-size: var(--font-size-medium);
}

.employment .period {
  font-size: 0.8em;
  font-style: italic;
}

.employment .employer {
  color: var(--color-text-primary);
}
