.intro h1 {
  text-transform: lowercase;
}

.intro .name {
  color: var(--color-text-accent);
}

.contact ol {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1.5em;
  margin-top: 0.5em;
  font-size: var(--font-size-small);
}

.contact a::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  background-color: var(--color-text-base);
  mask-size: 1em;
  margin-right: 0.5em;
}

.icon-mail::before {
  mask-image: url("mail.svg");
}

.icon-linkedin::before {
  mask-image: url("linkedin.svg");
}

.icon-github::before {
  mask-image: url("github.svg");
}

.posts article h3 {
  display: inline;
  margin: 0;
  font-size: inherit;
  font-weight: 600;
}

.posts article .post-date {
  display: inline;
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
}

.employment {
  line-height: 1.3;
}

.employment li {
  margin-bottom: 1em;
}

.employment .role {
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
}

.employment .period {
  font-style: italic;
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
}
