:root {
  --color-bg: #f1f1f1;
  --color-text-base: hsl(0, 0%, 0%);
  --color-text-muted: color-mix(in srgb, var(--color-text-base) 60%, var(--color-bg));
  --color-text-accent: #355555;

  --font-size-base: 22px;
  --font-size-small: 1.2rem;
  --body-font: "HKGrotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --heading-font: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  --breakpoint-mobile: 820px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0e0e0e;
    --color-text-base: hsl(0, 0%, 100%);
    --color-text-muted: color-mix(in srgb, var(--color-text-base) 60%, var(--color-bg));
    --color-text-accent: #87AAAA;
  }
}
